<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blogging</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway:400,800,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/javascripts/scripts.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="heading-bar blue-grey darken-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Blog of Books</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="newpost">New Post</a></li>
                <li>
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <section class="container">
      <h1>Blog Posts</h1>
      {{#each data}}
        <h3 class="title" id=`blog{{this.id}}`>{{this.title}}</h3>
        <p class="paragraph">{{this.content}}</p>
        <div class="row">
          <p class="col m2">{{this.post_author}}</p>
          <p class="col m2">{{this.pca}}</p>
          <div class="col m3"></div>
          <a class="waves-effect waves-light btn col m2 ed blue-grey lighten-5 grey-text" id="edit">Edit</a>
          <a class="waves-effect waves-light btn col m2 blue-grey lighten-5 grey-text" data-id="{{this.id}}" id="delete">Delete</a>
        </div>
        <hr>
        <div class="comments row">
          <div class="col m4"></div>
          <div class="col m4">
            <p>{{this.comment}}</p>
          </div>
          <div class="col m4">
            <p>{{this.cca}}</p>
          </div>
        </div>
        <hr>
      {{/each}}
    </section>

</body>

</html>
